body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 10px;
}


header.navbar {
    padding: 0;
}

header .navbar .navbar-nav a.nav-link {
    padding-right: 30px;

}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

a:hover {
    text-decoration: none;
}

input {
    background: transparent;
    border: none;
     cursor: pointer;
}

select {
    background: transparent;
    border: none;

}

textarea {
    background: transparent;
    border: none;

}

ul {
    list-style: none;
}

.btn_black {
    color: #ffffff;
    text-transform: uppercase;
    background: #000000;
    border-color: #000000;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.btn_black:hover {
    color: #000000;
    background: #ffffff;
    transform: scale(1.1);
    transition: 0.5s;
}

.title_img {
    width: 100%;
    position: relative;

}

.iconbox {
    background: #FFFFFF;
    border: 1px solid rgba(2, 18, 6, 0.1);
    border-radius: 10px;
    min-width: 50%;
    min-height: 350px;
    position: relative;
    cursor: pointer;
}

.iconbox:hover {
    background: #FFFFFF;
    box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
    border-radius: 10px;

}

.icon {
    width: 7em;
    height: 7em;
}

.icon_b {
    width: 4em;
    height: 4em;
}


.bgg {
    background-image: url(img/bg1.svg);
    background-position: right 10% top 10%;
    background-repeat: no-repeat;


}

.bgfaq {
    background-image: url(img/benefits_bg.jpg);
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;


}

.boxfaq {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    border-radius: 5px;
    min-width: 200px;
    height: 200px;
}


.player {
    max-width: 850px;
    position: relative;
}

.player video {
    position: relative;
    width: 100%;
    height: 100%;
}


.colorgrey {
    background-color: #F4F4F4 !important;
}

.colorred {
    color: #F14C4C;
}

.colorblue {
    color: #4EA0EC;
}

.colorgreen {
    color: #4EDAAC;
}

a {
    color: #313131;
!important;
    text-decoration: none;
!important;

}

.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
}


.slider .item img {
    width: 100%;

}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {

    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}






/*
отсюда отзывы*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;

    vertical-align: baseline;
}



ol, ul {
    list-style: none;
}



.cd-testimonials-wrapper {
    position: relative;
    width: 90%;
    max-width: 768px;
    background-color: #39393c;
 /*   margin: 2em auto;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    border-radius: 5px;
    z-index: 1;
}
.cd-testimonials-wrapper::after {

    content: '\201C';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;

    margin-left: -25px;
    background: #F4F4F4;
border-radius: 10px;
    color: #000000;

    font-size: 4.375rem;
    text-align: center;

    display: none;
}
@media only screen and (min-width: 768px) {
    .cd-testimonials-wrapper {
        margin: 2em auto;
        padding: 50px 50px 50px 50px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials-wrapper::after {

        display: block;
    }
}

.cd-testimonials {
    color: #ffffff;
    text-align: center;
}
.cd-testimonials::after {
    clear: both;
    content: "";
    display: table;
}
.cd-testimonials > li {
    position: absolute;
    opacity: 0;
}
.cd-testimonials > li:first-child {
    position: relative;
    opacity: 1;
}
.cd-testimonials p {

    line-height: 1.4;
    margin-bottom: 1em;
    padding: 0 14px;
}
@media only screen and (min-width: 768px) {
    .cd-testimonials p {

        font-size: 1.375rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials p {
        font-size: 26px;
        font-size: 1.625rem;
        line-height: 1.6;
    }
}

.cd-author img, .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: middle;
}
.cd-author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
    text-align: left;
    line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
    font-size: 12px;
    font-size: 0.75rem;
    color: #6b6b70;
}
@media only screen and (min-width: 768px) {
    .cd-author img {
        width: 50px;
        height: 50px;
    }
    .cd-author .cd-author-info {
        line-height: 1.4;
    }
    .cd-author .cd-author-info li:first-child {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-author .cd-author-info li:last-child {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

.flex-direction-nav li {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
}
.flex-direction-nav li:first-child {
    left: 0;
}
.flex-direction-nav li:last-child {
    right: 0;
}
.flex-direction-nav li a {
    display: block;
    height: 100%;
    width: 100%;

    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
    background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {

    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 13px;
    background-color: #ffffff;
}
.flex-direction-nav li a::before {
    -webkit-transform: translateY(-35px) rotate(45deg);
    -moz-transform: translateY(-35px) rotate(45deg);
    -ms-transform: translateY(-35px) rotate(45deg);
    -o-transform: translateY(-35px) rotate(45deg);
    transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
    -webkit-transform: translateY(-27px) rotate(-45deg);
    -moz-transform: translateY(-27px) rotate(-45deg);
    -ms-transform: translateY(-27px) rotate(-45deg);
    -o-transform: translateY(-27px) rotate(-45deg);
    transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
    -webkit-transform: translateY(-35px) rotate(-45deg);
    -moz-transform: translateY(-35px) rotate(-45deg);
    -ms-transform: translateY(-35px) rotate(-45deg);
    -o-transform: translateY(-35px) rotate(-45deg);
    transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
    -webkit-transform: translateY(-27px) rotate(45deg);
    -moz-transform: translateY(-27px) rotate(45deg);
    -ms-transform: translateY(-27px) rotate(45deg);
    -o-transform: translateY(-27px) rotate(45deg);
    transform: translateY(-27px) rotate(45deg);
}

.cd-see-all {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #252527;
    text-align: center;
    text-transform: uppercase;
    color: #6b6b70;
    font-weight: 700;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-transition: color, 0.2s;
    -moz-transition: color, 0.2s;
    transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
    color: #79b6e4;
}

.cd-testimonials-all {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
    clear: both;
    content: "";
    display: table;
}
.cd-testimonials-all .cd-testimonials-item {
    margin-bottom: 2em;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0) scale(0.4);
    -moz-transform: translate3d(0, 0, 0) scale(0.4);
    -ms-transform: translate3d(0, 0, 0) scale(0.4);
    -o-transform: translate3d(0, 0, 0) scale(0.4);
    transform: translate3d(0, 0, 0) scale(0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
    position: relative;
    background: #79b6e4;
    color: #ffffff;
    padding: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    border-radius: 0.25em;
    margin-bottom: 1em;
}
.cd-testimonials-all p::after {

    content: '';
    position: absolute;
    top: 100%;
    left: 2em;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #79b6e4;
}
.cd-testimonials-all .cd-author {
    text-align: left;
    margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
    box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
    -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.subpagebox:nth-child(even) {
    background-color: #F4F4F4
}


